$peru: #d87d4a;
$very-light-tangelo: #fbaf85;
$white: #fff;
$lotion: #fafafa;
$anti-flash-white: #f1f1f1;
$american-silver: #cfcfcf;
$black: #000;
$chinese-black: #101010;
$persian-red: #cd2c2c;

$colors: (
  base: (
    bg: (
      default: $lotion,
      inverse: $chinese-black
    ),
    text: (
      default: (
        default: rgba($black, 0.5),
        secondary: $black
      ),
      inverse: (
        default: rgba($white, 0.5),
        secondary: $white
      )
    )
  ),
  common: (
    bg: (
      brand: $peru
    ),
    text: (
      brand: $peru,
      error: $persian-red
    )
  ),
  components: (
    button: (
      bg: (
        primary: (
          default: $peru,
          hover: $very-light-tangelo
        ),
        secondary: (
          default: $white,
          hover: $black
        ),
        tertiary: (
          default: transparent
        ),
        icon: (
          default: transparent
        )
      ),
      text: (
        primary: (
          default: $white
        ),
        secondary: (
          default: $black,
          hover: $white
        ),
        tertiary: (
          default: rgba($black, 0.5),
          hover: $peru
        ),
        icon: (
          default: $white,
          link: (
            hover: $peru
          )
        )
      ),
      border: (
        secondary: (
          default: $black
        )
      )
    ),
    link: (
      text: (
        nav: (
          default: $white,
          hover: $peru,
          active: $very-light-tangelo
        )
      )
    )
  )
);
