%base {
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-text-secondary);
}

%lh-none {
  line-height: var(--lh-none);
}

%lh-shorter {
  line-height: var(--lh-shorter);
}

%ls-wider {
  letter-spacing: var(--ls-wider);
}

%ls-wide {
  letter-spacing: var(--ls-wide);
}

// VARIANTS
.h1 {
  @extend %base;
  @extend %lh-none;
  @extend %ls-wider;
  font-size: var(--fs-4xl);
}

.h2 {
  @extend %base;
  @extend %lh-none;
  @extend %ls-wider;
  font-size: var(--fs-3xl);
}

.h3 {
  @extend %base;
  @extend %lh-none;
  @extend %ls-wide;
  font-size: var(--fs-2xl);
}

.h4 {
  @extend %base;
  @extend %lh-shorter;
  @extend %ls-wider;
  font-size: var(--fs-xl);
}

.h5 {
  @extend %base;
  @extend %lh-shorter;
  @extend %ls-wider;
  font-size: var(--fs-lg);
}

.h6 {
  @extend %base;
  @extend %lh-shorter;
  @extend %ls-wide;
  font-size: var(--fs-md);
}
