.container {
  min-height: 100vh;
  font-family: var(--ff-body);
  font-size: var(--fs-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-normal);
  font-weight: var(--fw-normal);
  background-color: var(--clr-bg);
  color: var(--clr-text);
}
